 @import url('./__title/user__title.css');

.user {
    max-width: 400px;
    min-height: 300px;
    background-color: #fff;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 35px;
    display: flex;
    flex-direction: column;
    border: 1px solid #2a2c2f;
}
